pytorch-lightning~=1.6.1
torchvision~=0.11.0
omegaconf~=2.3.0
scipy~=1.10.0
numpy~=1.24.0
tqdm~=4.63.0
matplotlib~=3.7.1
torchmetrics~=0.7.2
transformers~=4.30.0
opencv-python~=4.5.5.64
pandas~=1.4.1
attributes-to-language@git+https://github.com/bdvllrs/attributes-to-language.git@v0.3.0#egg=attributes-to-language
auto-sbatch@git+https://github.com/bdvllrs/auto-sbatch.git@v0.3.6#egg=auto-sbatch
argparse~=1.4.0
Pillow~=10.0.1
scikit-learn~=1.2.0
setuptools~=65.5.1
paramiko~=2.11.0
scp~=0.14.4
pyyaml~=6.0
ruamel.yaml~=0.17
